= simple_form_for @trainer, url: form_url do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :avatar, as: :file, input_html: { direct_upload: true }
  - if @trainer.avatar.attached?
    = image_tag @trainer.avatar, class: 'img-thumbnail'

  = f.input :email
  = f.input :country_id, collection: countries
  = f.input :pokemon_ids, multiple: true, collection: pokemons
  
  = f.button :submit, class: 'btn-action'